<form method="POST" action="/login" class="login card">
  <h2>Login</h2>
  <label for="username">
    <span>Username</span>
    <input type="text" name="username" id="username" required>
  </label>
  <label for="password">
    <span>Password</span>
    <input type="password" name="password" id="password" required>
  </label>
  <button type="submit">Login</button>
  <p>Don't have an account? <a href="/register">Register</a></p>
</form>