<form method="POST" action="/register">
  <h2>Register</h2>
  <label for="username">
    <span>Username <span class="indicator">*</span></span>
    <input type="text" name="username" id="username" required>
  </label>
  <label for="password">
    <span>Password <span class="indicator">*</span></span>
    <input type="password" name="password" id="password" required>
  </label>
  <button type="submit">Register</button>
  <p>Already have an account? <a href="/login">Login</a></p>
</form>

